@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}
